extend ../layout

block content
  h2 Welcome to MDFinder
  h3 Here's a list of your favorite doctors
    ul
        li
            img(src='./images/doctor1.jpg' alt='Smiley face' height='150' width='150') 
            p Dr. Smith Pediatric
        li 
            img(src='./images/doctor3.png' alt='Smiley face' height='150' width='150') 
            p Dr. Jones Family Medicine
        li 
            img(src='./images/doctor2.png' alt='Smiley face' height='150' width='150') 
            p Dr. Lee Pediatric