header.header
    .row
        .col
            img.header-logo(src="/images/MDLogo.png" alt="MDFinder Logo")
        .col
        ul.nav
            li.nav-item
                a.nav-link.active(href='/') Home
            li.nav-item
                a.nav-link(href='/doctors') Doctors
            li.nav-item
                a.nav-link(href='/about/us') About us
            li.nav-item
                a.nav-link(href='/login') Login
            li.nav-item
                a.nav-link(href='/logout') Logout           
            