doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title MDFinder
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous')
  link(rel='stylesheet' href='/styles/layout.css')
  link(rel="icon" href="/images/MDLogo.png")
  block head
  
  body
    .container-fluid
        include includes/header
        section.row
            .col
                block content
                    h2 Define 'block content'
        
        
        

        footer.row
        .col.text-center fddfddfdfdf
        //- h2="Follow Us on"
        //-     ul.share-buttons
        //-         li
        //-         a(href='https://www.facebook.com/sharer/sharer.php?u=&quote=' title='Share on Facebook' target='_blank' onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(document.URL) + '&quote=' + encodeURIComponent(document.URL)); return false;")
        //-         img(alt='Share on Facebook' src='/images/Facebook.svg')
        //-         li
        //-          a(href='https://twitter.com/intent/tweet?source=&text=:%20' target='_blank' title='Tweet' onclick="window.open('https://twitter.com/intent/tweet?text=' + encodeURIComponent(document.title) + ':%20'  + encodeURIComponent(document.URL)); return false;")
        //-         img(alt='Tweet' src='images/Twitter.svg')
        //-         li
        //-          a(href='https://plus.google.com/share?url=' target='_blank' title='Share on Google+' onclick="window.open('https://plus.google.com/share?url=' + encodeURIComponent(document.URL)); return false;")
        //-          img(alt='Share on Google+' src='images/Google+.svg')
        //-         li
        //-          a(href='http://www.tumblr.com/share?v=3&u=&quote=&s=' target='_blank' title='Post to Tumblr' onclick="window.open('http://www.tumblr.com/share?v=3&u=' + encodeURIComponent(document.URL) + '&quote=' +  encodeURIComponent(document.title)); return false;")
        //-          img(alt='Post to Tumblr' src='images/Tumblr.svg')
        //-         li
        //-          a(href='http://www.reddit.com/submit?url=&title=' target='_blank' title='Submit to Reddit' onclick="window.open('http://www.reddit.com/submit?url=' + encodeURIComponent(document.URL) + '&title=' +  encodeURIComponent(document.title)); return false;")
        //-         img(alt='Submit to Reddit' src='images/Reddit.svg')
        //-         li
        //-         a(href='http://www.linkedin.com/shareArticle?mini=true&url=&title=&summary=&source=' target='_blank' title='Share on LinkedIn' onclick="window.open('http://www.linkedin.com/shareArticle?mini=true&url=' + encodeURIComponent(document.URL) + '&title=' +  encodeURIComponent(document.title)); return false;")
        //-         img(alt='Share on LinkedIn' src='images/LinkedIn.svg')
        //-         li
        //-         a(href='http://wordpress.com/press-this.php?u=&quote=&s=' target='_blank' title='Publish on WordPress' onclick="window.open('http://wordpress.com/press-this.php?u=' + encodeURIComponent(document.URL) + '&quote=' +  encodeURIComponent(document.title)); return false;")
        //-         img(alt='Publish on WordPress' src='images/Wordpress.svg')

 
script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js' integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1' crossorigin='anonymous')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js' integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM' crossorigin='anonymous')