*{
    box-sizing: border-box;
    margin: 0;
}

.container-fluid{
    background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
    height: 100vh;
    width: 100%;
    color: white;
    margin: 0 auto;
    
}
h2, p{
    text-align: center;
    font-size: 40px;
}
p{
    font-size: 20px;
}

.nav-link {
    margin: 5px;
    color: white;
    font-size: 20px;
}
.mdList, a{
    color: white;
    font-size: 20px;
    list-style: none;
}
ul.share-buttons{
    list-style: none;
    padding: 0;
    display: flex;
    text-align: center;
  }
  
  ul.share-buttons li{
    display: inline;
    
  }
  
  ul.share-buttons .sr-only{
    /* position: absolute; */
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
    
  }
  
  ul.share-buttons img{
    width: 32px;
  }
